# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.next/
out/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
apps/web/.env.local
apps/api/.env

# Logs / OS
*.log
npm-debug.log*
.DS_Store
coverage/
.turbo/

# Prisma
prisma/*.db
prisma/*.db-journal

# Storage local
.tmp/
uploads/

# IDE
.idea/
.vscode/
